<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Entrar na sua conta</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post, class: "form-horizontal", autocomplete: "off", novalidate: "" }) do |f| %>
          <div class="mb-3">
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "your@email.com" %>
          </div>
          <div class="mb-3">
            <%= f.label :password, class: 'form-label' do %>
              Senha
            <% end %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: "Sua senha" %>
          </div>
          <div class="form-footer">
            <%= f.submit "Entrar", class: 'btn btn-primary w-100' %>
          </div>
        <% end %>

      </div>
    </div>
    <div class="text-center text-secondary mt-3">
      Ainda não tem conta? <%= link_to "Criar", new_registration_path(resource_name) %>
    </div>
  </div>
</div>
